#formula {
    grid-column: span 3;
    height: 40px;
    width: 180px;
    font-size: 18px;
    text-align: right;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 4px;
}

button {
    height: 50px;
    width: 60px;
    margin-bottom: 4px;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

